<ng-container>
    <mat-toolbar class="example-header">Header</mat-toolbar>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                   [fixedInViewport]="false" [fixedTopGap]="0"
                   [fixedBottomGap]="0">
      <mat-list-item>
        <a href=""><span>Home</span></a>
      </mat-list-item>
      
      </mat-sidenav>
  
      <mat-sidenav-content>
       ss
      </mat-sidenav-content>
    </mat-sidenav-container>
  
    <mat-toolbar class="example-footer">Footer</mat-toolbar>
  </ng-container>